<section ng-controller="PagesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="page.host"></h1>
    <h3 ng-bind="page.url"></span></h3>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == page.user._id">
    <a class="btn btn-primary" ui-sref="pages.edit({pageId: page._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <nvd3 options="options" data="data" api="api"></nvd3>
  <p class="lead" ng-bind="page.note"></p>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="page.created | date:'mediumDate'"></span>
      by
      <span ng-bind="page.user.displayName"></span>
    </em>
  </small>
</section>
